# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# persisted localstack data
offline/.localstack

# intellij files
.idea

# webpack build artefacts
.webpack